{% extends 'shared/layout.html' %}
{% block body_class %}sil-app--user sil-has-dock{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}
{% block header %}
<header class="sil-header">
  <a href="{{ url_for('user.classifica') }}" class="sil-header__brand">
    <span class="sil-serif sil-header__title">{{ app_name }}</span>
    <span class="sil-mono sil-header__est">Summer2026</span>
  </a>
</header>
{% endblock %}
{% block dock %}
  {% include 'user/partials/bottombar.html' %}
{% endblock %}
